{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="page-section" style="margin-bottom:70px;">
 
      {% for dealer in all_dealers %}
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="cs-team">
          <div class="cs-media">
            <figure><a href="#"><img src="{{ dealer.picture.url }}" alt="" /></a></figure>
            
          </div>
          <div class="cs-text">
            <h6><a href="#">{{ dealer.name }}</a></h6>
            <span>{{ dealer.description }} </span> <em>{{ dealer.email }}</em> </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
