<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="en">

<head>
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/starability/2.4.2/starability-minified/starability-all.min.css"/>
    <title>Vaahan</title>
{% include 'head.html' %}
</head>

<body class="wp-automobile">
  {% include 'nav.html' %}
  {% block content %}
  {% endblock content %}

<h2>
  Your Vaahan Score is: 

  
    {{ ps.0 }}
    <br>
   
    Rated: <fieldset class="starability-result mx-auto" data-rating="{{ ps.0|div:2|floatformat:0 }}">
     {{ ps.0|div:2|floatformat:0 }}  
  </fieldset> 
  
  

  and it {{ ps.1 }}

    
</h2>

   
</body>
</html>